.recordlist-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.recordlist {
  flex-grow: 3;
  overflow: scroll;
  max-height: 50vh;
  display: flex;
  flex-direction: column-reverse;
}